@-webkit-keyframes zoomOutIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  70% {
    opacity: 1;
  }
}

@keyframes zoomOutIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1.2);
    transform: scale3d(1.2, 1.2, 1.2);
  }

  70% {
    opacity: 1;
  }
}

.zoomOutIn {
  -webkit-animation-name: zoomOutIn;
  animation-name: zoomOutIn;
}

// Vue DropDown animation
.fade1-enter-active,
.fade1-leave-active {
  transform-origin: top;
  transition: opacity $speed-slow $easing, transform $speed-slow $easing;
}
.fade1-enter,
.fade1-leave-to {
  transform: scaleY(0.9);
  opacity: 0;
}

.fade2-enter-active,
.fade2-leave-active {
  transform-origin: top;
  transition: none;
}

