.file-panel {
  .animation-content {
    max-width: 90% !important;
    width: 90% !important;
    .modal-card {
      width: 100%;
      .modal-card-head {
        padding: 1.5rem;
        .input.is-rounded {
          border-radius: 9999px !important;
        }
        .is-small.input,
        .is-small.textarea,
        .taginput .is-small.taginput-container.is-focusable {
          border-radius: 2px;
          font-size: 0.75rem;
          height: auto;
        }
        .control .button {
          font-size: 0.875rem;
          height: auto;
          &.is-small {
            font-size: 0.75rem;
          }
        }
      }

      .modal-card-body {
        padding: 0;

        .nav-bar {
          width: 15rem;
          min-height: 40rem;
          //   padding: 0.75rem;
          background: #f8f8f8;
          .title {
            padding: 1.5rem;
          }

          .list-container {
            padding: 0.75rem;
          }
        }

        .content {
          position: relative;
          .drag-mask {
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
            background: rgba(255, 255, 255, 0.5);
          }
        }
      }
    }
  }
}
