/************************************
*
* Widgets
*
*************************************/

.widget {
  backdrop-filter: $backDropBlur;
  border-radius: $backDropBorderRadius;
  position: relative;
  margin-bottom: 0.75rem;
  transition: all 0.3s;

  .columns {
    margin-bottom: 0;
  }

  &:hover {
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
  }

  .widget-content {
    padding: 0.875rem 1.5rem;
    position: relative;
    z-index: 10;
  }

  .tabs {
    ul {
      border-bottom: 1px solid transparent;

      li {
        font-size: 0.875rem;

        &:first-child {
          a {
            margin-left: 0;
          }
        }

        a {
          color: #fff !important;
          border-bottom: transparent 2px solid !important;
          padding: 0.5rem 0 0rem 0;
          margin: 0 0.5rem;
        }

        &.is-active {
          a {
            font-weight: 700;
            border-bottom: #fff 2px solid !important;
          }
        }
      }
    }
  }
}

.network {
  position: relative;
  z-index: 10;

  .up {
    color: rgb(0, 143, 251);
  }

  .down {
    color: rgb(0, 227, 150);
  }

  .chart-container {
    height: 130px;
    overflow: hidden;
  }
}

.netowrk-dropdown {
  .button {
    margin: 0;
    padding: 0;
    height: initial;
    background-color: transparent;
    font-weight: bold;
    font-size: 0.875rem;
    position: relative;
    z-index: 200;
    outline: none;
    border: 0;

    &:focus:not(:active) {
      box-shadow: 0 0 0 0 !important;
    }

    &:hover,
    &:active {
      outline: none;
      background-color: transparent;
    }
  }

  .dropdown-menu {
    min-width: 8rem;

    .dropdown-content {
      width: 7rem;
      border-radius: 10px;
      padding: 4px !important;
      background: rgba(0, 0, 0, 0.48);
      backdrop-filter: blur(1rem);

      .dropdown-divider {
        margin: 4px;
      }

      .dropdown-item {

        padding: 0.25rem 0 0.25rem 0.5rem;
        border-radius: 5px;
        transition: all 0.25s;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #fff;
        font-size: 0.75rem;
        margin-bottom: 0.25rem;

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          background: rgba(0, 0, 0, 0.2) !important;
        }

        &.is-active {
          background: rgba(0, 0, 0, 0.2) !important;
        }
      }
    }
  }
}

.blur-background {
  width: 100%;
  height: 100%;
  background-color: rgba(59, 59, 59, 0.3);
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  border-radius: $backDropBorderRadius;
  position: absolute;
  z-index: 0;
  background-image: url(../background/bg3_blur.jpg);
}

.wuji-content {
  position: relative;
  z-index: 10;
  padding: 1.5rem;
}

.cards-content {
  position: relative;
  z-index: 10;
}

// Cards
.wuji-card {
  backdrop-filter: $backDropBlur;
  border-radius: $backDropBorderRadius;

  color: $white;
  position: relative;

  transition: all 0.3s;

  .buttons {
    min-height: 2.375rem;
  }

  &:hover {
    box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.2);
  }

  .info {
    flex: 1;
    margin-right: 1rem;
    color: white;
  }

  .simg {
    img {
      border-radius: 4px;
    }
  }

  .icon-img {
    position: relative;

    &.stop img {
      filter: grayscale(100%);
    }

    &.stop::after {
      position: absolute;
      content: "";
      width: 0.75rem;
      height: 0.75rem;
      background-color: #ff1616;
      border-radius: 50%;
      right: -0.375rem;
      top: -0.375rem;
    }

    img {
      border-radius: 8px;
      margin: 0 auto;
    }
  }

  .b-image-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &.stop img {
      filter: grayscale(100%);
    }

    &.stop::after {
      position: absolute;
      content: "";
      width: 0.75rem;
      height: 0.75rem;
      background-color: #ff1616;
      border-radius: 50%;
      right: -0.375rem;
      top: -0.375rem;
    }

    img {
      border-radius: 8px;
      margin: 0 auto;
    }
  }

  .action-btn {
    position: absolute;
    right: 0.5rem;
    top: 1rem;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s;
    outline: none;
    z-index: 20;
  }

  p {
    font-weight: 300;
  }

  .one-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
  }

  .two-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }

  &:hover {
    .action-btn {
      visibility: visible;
      opacity: 1;
    }
  }

  a {
    color: white;

    p {
      color: white;
    }
  }
}

.flex1 {
  flex: 1;
}

.title-bar {
  margin-bottom: 1.5rem;

  .title {
    flex: 1;
    margin-bottom: 0;
  }
}

.app-card-drop {
  .dropdown-menu {
    min-width: 10rem;

    .dropdown-content {
      padding: 4px !important;
      width: 160px;
      background: none;
      padding: 0;
      background: rgba(255, 255, 255, 0.88);
      border-radius: 10px;

      .dropdown-item {
        padding: 0;
      }

      .button {
        border-radius: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 5px;

        &.is-text {
          text-decoration: none;
          justify-content: flex-start;
          outline: none;
          transition: all 0.2s;
          border: none !important;
          height: 2rem;
          font-size: 0.875rem;

          &.running {
            color: #779e2a !important;
          }

          &.exited {
            color: #ff1616 !important;
          }
        }

        &:active {
          background: none;
          outline: none;
        }

        &:focus {
          background: none;
          box-shadow: none;
          outline: none;
        }

        &:hover {
          background-color: hsl(0, 0%, 86%);
        }
      }

      .gap {
        margin-left: -4px;
        margin-right: -4px;
      }

      .bbor {
        border-top: #2c3e50 1px solid;

        .is-text {

          text-decoration: none;
          justify-content: center !important;
        }

        .column {
          margin-bottom: -4px;

          .button {
            margin: 4px;
            height: 2rem;

          }
        }

        .column:first-child {
          border-right: #2c3e50 1px solid;
        }
      }
    }
  }
}

.arrow-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  z-index: 100;
  cursor: pointer;

  .icon {
    transition: all 0.3s;

    &.open {
      transform: rotate(90deg);
    }
  }
}

.more-info {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.is-noscroll,
.is-clipped {
  .wuji-card {
    backdrop-filter: none !important;
  }

  .widget {
    backdrop-filter: none !important;
  }
}