// Import Font
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

// Import materialdesignicons
@import "~@mdi/font/css/materialdesignicons.min.css";

// Import Swiper Style
@import "~swiper/swiper-bundle.min.css";

// Import CasaOS IconFont
@import "common/iconfont";

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Custom Variables
@import "common/variables";

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

// Import CasaOS Styles
// Commons
@import "common/root";
@import "common/spacing";
@import "common/buttons";
@import "common/title";
@import "common/size";
@import "common/images";
@import "common/icon";
@import "common/tabs";
@import "common/scrollbars";
@import "common/animate";
@import "common/avatar";
@import "common/modal";

// Pages and Components
@import "components/widgets";
@import "components/syncthing";
@import "components/filebrowser";
@import "components/acquaintanceShare";
@import "components/fileModal";
@import "components/updateModal";

.b-checkbox.checkbox input[type=checkbox]:focus:checked+.check,
.b-checkbox.checkbox input[type=checkbox]:focus+.check {
  box-shadow: none !important;
}


.autocomplete {
  &.has-colon {
    .control {
      &::before {
        position: absolute;
        content: ":";
        height: 2.714em;
        font-size: 0.875rem;
        line-height: 2.714em;
        left: 0.5rem;
        z-index: 10;
        color: hsl(0deg, 0%, 21%);
      }

      .input {
        padding-left: 0.75rem;
      }

    }

  }
}



.level-item {
  .icon {
    overflow: initial;
  }
}






.out-container {
  position: relative;
  height: 100%;
}

.contents {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 8rem);
}

.side-bar {
  width: 16rem;
  position: fixed;
  z-index: 10;
  height: calc(100% - 6rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  margin-left: 17.5rem;
  position: relative;
  z-index: 10;
}



.powered-con {
  width: 100%;
  height: 2.5rem;
  left: 0;
  top: 1rem;
  z-index: 0;
  pointer-events: none;
}

.label {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

.account-modal {
  .modal-card-head1 {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  }

  .input {
    background: rgba(255, 255, 255, 0.32);
    border-color: transparent;
  }
}

.create-container {
  height: 2.25rem;
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

.storage-modal {

  .modal-card-body {
    overflow-y: hidden;
    transition: height 0.3s;
    padding: 2rem 2rem 2rem 2rem;
    position: relative;

    .tab-item {
      max-height: calc(100vh - 15rem);
      overflow-y: overlay;
    }
  }

  .modal-card-foot {
    padding-top: 0;
  }

  .close-container {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  .tab-content {
    padding: 0;
  }

  .status {
    min-width: 7.75rem;
  }
}

.b-tooltip.is-multiline .tooltip-content {
  word-break: keep-all;
}

.update-icon-dot {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $danger;
    right: 0;
    top: 0;
  }
}

.update-text-dot {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: $danger;
    right: -0.5rem;
    top: 0rem;
  }
}

.terminal-modal {
  .modal-card-body {
    padding: 2rem 2rem 2rem 2rem;
  }

  .close-container {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  .tab-content {
    padding: 0;
  }

  // Tabs
  .tabs {
    width: 14rem !important;

    &.is-toggle {
      ul {
        background: rgba(60, 60, 67, 0.05);
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;

        li {
          flex: none;

          a {
            font-size: 0.875rem;
            padding: 0.2rem 1.5rem;
            min-width: 7rem;
            border-radius: 6px;
            border: none;

            &:hover {
              background-color: transparent;
            }
          }

          &.is-active {
            a {
              background: #ffffff;
              border: 0.5px solid rgba(0, 0, 0, 0.2);
              color: #000;
              z-index: 1;
              box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }
}

.logs {
  white-space: pre-wrap;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.5em;
  overflow-y: auto;
  overflow-x: hidden;
  height: 20rem;
}

.xterm {
  height: 20rem;
}

.import-area .textarea {
  max-height: 40em;
  min-height: 173px;
}

.app-card {
  .loading-background {
    background: none !important;
    border-radius: $backDropBorderRadius;
    transform: translate3d(0, 0, 0);
  }
}

.tabs li.is-active a {
  color: #2276f3;
  border-bottom-color: #2276f3;

  &:focus {
    border-bottom-color: #2276f3;
  }
}

.is-size-6-5 {
  font-size: 0.875rem !important;
}

.has-absolute {
  position: absolute;
}


.control {
  .button {
    font-size: 0.875rem;
    height: 2.714em;
  }

  .container-icon {
    padding: 0 0.5rem;
  }
}

.filelist {
  height: 19.6875rem;
  overflow-x: hidden;
  overflow-y: auto;

  li {
    border-bottom: #e4e4e4 1px solid;
    line-height: 1.5em;
    border-radius: 4px;
    transition: background-color 0.2s;
    cursor: pointer;

    &:hover {
      background-color: #e0e0e0;
    }

    &.active {
      background-color: #b6e0ff;
    }
  }
}

.ficon {
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
  -webkit-touch-callout: none;
  user-select: none;
  font-size: 0.875rem;

  .cover {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
  }
}






.home-section {
  .loading-background {
    background-color: transparent !important;
  }

  .column {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.app-list {
  min-height: 14rem;
  position: relative;
}

.suggestion-list {
  min-height: 7.5rem;
  position: relative;
}

// Login Page



.install-animation {
  width: 200px;
  height: 200px;
}

.creating-animation {
  width: 16rem;
  height: 16rem;
}



.pagination-link.is-current {
  background-color: hsl(216, 90%, 54%);
  border-color: hsl(216, 90%, 54%);
  color: #fff;
}


.dark-bg {
  position: fixed;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  z-index: 19;
  opacity: 0;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

// App Store Panel
.app-sidebar {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 15;
  pointer-events: none;

  &.no-event {
    pointer-events: all;
  }

  &.h-100 {
    height: 100% !important;
  }

  &.w-100 {
    width: 100% !important;
  }

  .sidebar-content {
    position: relative;
    height: 100%;
  }
}



.app-detial {
  overflow: auto;
  height: 100%;

  .app-header {
    position: relative;
  }

  .level {
    .footing {
      color: hsl(0, 0%, 48%);
    }
  }

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -20px;
    left: auto;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -20px;
    right: auto;
  }
}

.featured-app {

  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -20px;
    top: calc(50% - 2.25rem);
    left: auto;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -20px;
    top: calc(50% - 2.25rem);
    right: auto;
  }

  .button {
    box-sizing: border-box !important;
  }
}

.app-select {
  .dropdown-menu {
    min-width: 1rem !important;
  }

  .dropdown-content {
    border-radius: 0.5rem;
    overflow-y: overlay !important;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      outline: none;
    }

  }

  a.dropdown-item {
    padding-right: 1.5rem;
    font-size: 0.875rem;
  }
}

a.dropdown-item.is-active,
.dropdown .dropdown-menu .has-link a.is-active,
button.dropdown-item.is-active {
  background-color: $primary;
  color: #fff;
}

.app-item {
  border-radius: 0.5rem;
  transition: background 0.3s ease;

  &:hover {
    background-color: hsl(0, 0%, 97%);
  }
}


.un-break-word {
  word-break: keep-all;
}

.t-box {
  background: #eeeeee;
  border-radius: 4px;
  height: 20rem;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  font-size: 0.875rem;
  line-height: 1.5em;

  ol {
    padding-left: 1rem;
  }

  .t-img {
    margin-bottom: 1rem;

    img {
      max-width: 60%;
      width: auto;
    }
  }

  .t-img-1 img {
    max-width: 5rem;
  }

  .t-img-2 img {
    max-width: 13rem;
  }

  .t-img-3 img {
    max-width: 18rem;
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.spinner {
  animation: load8 1.1s infinite linear;
}

// File Modals
@media screen and (min-width: 769px) {

  .fileModal,
  .account-modal {
    .modal-card {
      width: 30rem;
    }
  }

  .terminal-modal {
    .modal-card {
      width: 50rem;
    }
  }

  .app-panel {
    .animation-content {
      max-width: 90% !important;
    }

    .modal-card {
      width: 90vw;
      transition: all 0.3s;

      &.narrow {
        width: 50rem !important;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .f-list {
    .is-one-quarter {
      width: 33.333333% !important;
    }
  }
}

@media screen and (min-width: 1440px) {
  .app-panel {
    .modal-card {
      width: 70rem !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0 1rem;
  }

  .f-list {
    .is-one-quarter {
      width: 50% !important;
    }
  }
}

@media screen and (min-width: 481px) {
  #sidebar-btn {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .main-content {
    .app-list {
      display: flex;

      .column {
        flex: none;
        width: 50%;
      }
    }
  }

  .f-list {
    .is-one-quarter {
      width: 50% !important;
    }
  }

  .sync-panel {
    .modal-card {
      width: auto !important;
    }
  }
}

@media screen and (max-width: 480px) {
  .contents {
    height: calc(100vh - 4rem) !important;
  }

  #sidebar-btn {
    display: flex !important;
  }

  .b-group {
    align-items: initial !important;
    display: block !important;
    width: 5rem;
    margin-left: 0.5rem;

    .ml-2 {
      margin-left: 0 !important;
      margin-top: 0.5rem !important;
    }
  }

  .login-panel {
    text-align: left;
    background: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(1rem);
    border-radius: 8px;
    margin: 0 2rem;
    padding: 2rem !important;

    .label {
      color: #dfdfdf;
    }

    .input {
      background: rgba(255, 255, 255, 0.32);
      border-color: transparent;
    }

    .is-128x128 {
      height: 96px;
      width: 96px;
    }

    .is-3 {
      font-size: 1.5rem;
    }

    &.step1 {
      .is-2 {
        font-size: 1.5rem;
      }

      .subtitle {
        font-size: 1rem;
      }
    }

    &.step3 {
      padding: 4rem !important;
    }
  }

 

  

  .side-bar {
    transition: all 0.3s ease-in-out;
    left: 0rem;
    transform: translateX(-100vw);
    z-index: 20;
    width: auto;
    margin: 0 1rem !important;

    &.open {
      transform: translateX(0);
      width: calc(100% - 2rem);

      .wsettings {
        display: flex;
        justify-content: right;
      }
    }
  }

  .main-content {
    margin-left: 0;

    .app-list {
      display: flex;

      .column {
        flex: none;
        width: 50%;
      }
    }
  }

  .t-img {
    img {
      max-width: 100% !important;
      width: auto;
    }
  }

  .sync-panel {
    .steps {
      .column {
        padding: 1.5rem 0;
      }
    }

    .dot {
      padding-left: 2.5rem;
      position: relative;
      color: #383b46;
      opacity: 0.5;
      font-weight: bold;
      transition: all 0.3s;

      &:before {
        display: flex;
        content: attr(data-title);
        position: absolute;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        background-color: #2276f3;
        transition: all 0.3s;
        align-items: center;
        justify-content: center;
        color: #fff;
        left: 0;
        top: -0.25rem;
        z-index: 1;
        box-shadow: 0px 0px 0.875rem rgba(34, 118, 243, 0.75);
      }

      &.active {
        color: #2276f3;
        opacity: 1;
      }
    }

    .ok-dot {
      &:before {
        font: normal normal normal 24px/1 "Material Design Icons" !important;
        content: "\F012C" !important;
      }
    }

    .modal-card-body {
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 1rem;

      .image.is-176x176 {
        height: 128px;
        width: 128px;
      }

      .is-offset-2 {
        margin-left: 0 !important;
      }

      .is-8 {
        width: 100% !important;
      }

      .button.is-dark {
        font-size: 0.75rem !important;
      }
    }
  }

  .f-list {
    .is-one-quarter {
      width: 100% !important;
    }
  }

  .app-detial {
    overflow: auto;
    height: 100%;

    .modal-card-head {
      .button {
        -webkit-tap-highlight-color: transparent;
      }
    }

    .app-header {
      position: relative;

      .header-icon {
        .is-128x128 {
          height: 96px;
          width: 96px;
        }
      }

      .store-title {
        font-size: 1.125rem;
      }

      .subtitle {
        font-size: 0.75rem;
        margin-bottom: 0.75rem;
      }

      .description {
        .button {
          font-size: 0.75rem;
        }
      }
    }

    .level {

      .mdi-36px.mdi-set,
      .mdi-36px.mdi:before {
        font-size: 24px;
      }

      .title {
        font-size: 24px;
      }

      .footing {
        font-size: 0.6rem !important;
      }
    }
  }
}

.slide-next-leave-active,
.slide-next-enter-active,
.slide-prev-enter-active,
.slide-prev-leave-active {
  // transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 0.35s;
}

.taginput .taginput-container .autocomplete input {
  border: none !important;
}

.v-step {
  border-radius: 10px !important;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02) !important;
  background-color: $primary !important;

  .v-step__header {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    background-color: $primary-dark !important;
  }

  .v-step__content {
    font-size: 1rem;
    text-align: left;
  }
}
