@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
// 1. Set your own initial variables and derived
//    variables in _variables.scss
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
// @import "~@mdi/font/css/materialdesignicons.min.css";
// 2. Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);

$primary: #2276f3;
$primary-light: findLightColor($primary);
$primary-dark: findDarkColor($primary);
$primary-invert: findColorInvert($primary);
$ghost: #2276f3;
$ghost-light: findLightColor($ghost);
$ghost-dark: findDarkColor($ghost);
$ghost-invert: findColorInvert($ghost);

$loading-icon-size: 2.5rem;

@import "~bulma/sass/utilities/derived-variables";

// 3. Add new color variables to the color map.
$addColors: (
  "twitter": (
    $twitter,
    $twitter-invert,
  ),
  "linkedin": (
    $linkedin,
    $linkedin-invert,
  ),
  "github": (
    $github,
    $github-invert,
  ),
);
$colors: map-merge($colors, $addColors);

@import "~bulma";
@import "~buefy/src/scss/buefy";

$backDropColor: rgba(123, 123, 123, 0.16);
$backDropBlur: blur(1rem);
$backDropBorderRadius: 0.5rem;

@import "buttons";
@import "images";
@import "widgets";
@import "scrollbars";
@import "animate";
@import "~swiper/swiper-bundle.min.css";

// 4. Provide custom buefy overrides and site styles here

:root {
  --swiper-navigation-size: 24px !important;
}

body,
html {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #000;
  color: #5a5a5a;
}

#app {
  width: 100vw;
  height: 100vh;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow-y: hidden;
}

#background {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
}

.is-shadow {
  -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.47);
}

.is-size-65 {
  font-size: 0.875rem;
}

.button,
.input,
.textarea,
.taginput .taginput-container.is-focusable,
.select select,
.file-cta,
.file-name,
.pagination-previous,
.pagination-next,
.pagination-link,
.pagination-ellipsis {
  &:focus {
    box-shadow: none;
  }
}

.top-bar {
  position: relative;
  z-index: 20;

  height: 3rem;
  background: rgba(221, 221, 221, 0.95);

  .navbar-brand {
    .dropdown-menu {
      margin-top: 0.5rem;
      min-width: 20rem;
      .dropdown-content {
        background: rgba(255, 255, 255, 0.72);
        backdrop-filter: blur(1rem);
        .dropdown-item {
          padding: 0.875rem 1.25rem;
          text-align: left;
          .item {
            height: 2rem;
          }
        }
      }
    }
  }

  .set-select {
    .select {
      &::after {
        border-color: #000 !important;
      }
    }
    select {
      background-color: transparent !important;
      border-color: #000 !important;
    }
  }

  .field {
    line-height: 1rem;
  }
  .switch {
    &.is-flex-direction-row-reverse {
      .control-label {
        padding-left: 0;
        padding-right: calc(0.75em - 1px);
      }
    }
  }
  .update-container {
    .button.is-rounded {
      border-radius: 9999px !important;
      padding-left: calc(1em + 0.25em);
      padding-right: calc(1em + 0.25em);
    }
  }
  .button {
    &.is-small {
      height: 2em;
    }
  }
}

.brand-bar {
  position: fixed;
  z-index: 0;
  left: 2rem;
  bottom: 2rem;
}

.contact-bar {
  position: fixed;
  right: 2rem;
  bottom: 1.5rem;
  height: 3.5rem;
  background: rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(24px);
  border-radius: 4px;
  font-size: 1.5rem;
  a {
    color: $white;
    margin: 0.5rem;
    display: flex;
    align-items: center;
    &:hover {
      color: #fff;
    }
  }
}

.out-container {
  position: relative;
  height: 100%;
}

.contents {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 8rem);
}

.side-bar {
  width: 16rem;
  position: fixed;
  z-index: 10;
  height: calc(100% - 6rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.main-content {
  flex: 1;
  margin-left: 17.5rem;
  position: relative;
  z-index: 10;
}

.pt-7 {
  padding-top: 4rem;
}

.pt-55 {
  padding-top: 2rem;
}
.p-55 {
  padding: 2rem !important;
}
.mt-55 {
  margin-top: 2.5rem !important;
}
.ml-7 {
  margin-left: 5.5rem;
}
.pl-55 {
  padding-left: 1.75rem;
}
.is-size-66 {
  font-size: 0.875rem;
}
.pl-7 {
  padding-left: 4.75rem;
}
.is-size-65 {
  font-size: 0.875rem !important;
}
.is-abs {
  position: absolute;
}

.auto-height {
  height: auto !important;
}
.z-20 {
  position: relative;
  z-index: 20;
}
.z-30 {
  z-index: 20;
}
.border-8 {
  border-radius: 8px;
  overflow: hidden;
}

.powered-con {
  width: 100%;
  height: 2.5rem;
  left: 0;
  top: 1rem;
  z-index: 0;
  pointer-events: none;
}
.label {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}

//Panel
.modal-background {
  background: rgba(0, 0, 0, 0.8);
}
.modal-card {
  background: rgba(255, 255, 255, 1);
  //backdrop-filter: $backDropBlur;
  border-radius: $backDropBorderRadius;
  .close-container {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  .modal-close-container {
    padding-left: 1rem;
    margin-left: 0.5rem;
    position: relative;
    height: 100%;
  }
  .modal-close-container-line {
    &:before {
      content: "";
      position: absolute;
      border-left: #363636 2px solid;
      height: 1rem;
      left: 0;
    }
  }
  .modal-card-head,
  .modal-card-body,
  .modal-card-foot {
    position: relative;
    background-color: transparent;
    border: none;
    word-break: break-all;
  }
  .modal-card-head {
    padding: 2rem 2rem 1.5rem 2rem;
  }
  .modal-card-body {
    padding: 0 2rem;
    .loading-overlay .loading-icon:after {
      -webkit-animation: spinAround 500ms infinite linear;
      animation: spinAround 500ms infinite linear;
      border: 4px solid #000;
      border-radius: 9999px;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      display: block;
      height: 1em;
      position: relative;
      width: 1em;
      position: absolute;
      top: calc(50% - 1.25rem);
      left: calc(50% - 1.25rem);
      width: 2.5rem;
      height: 2.5rem;
      border-width: 0.2 em;
    }
    .button.is-static,
    .input,
    .textarea,
    .taginput .taginput-container.is-focusable,
    .select select,
    .file-cta,
    .file-name,
    .pagination-previous,
    .pagination-next,
    .pagination-link,
    .pagination-ellipsis {
      font-size: 0.875rem;
      height: 2.714em;
      border: 1px solid #cfcfcf !important;
      border-radius: 4px;
      &:focus {
        box-shadow: none;
      }
    }
    .media {
      padding: 0rem;
    }
    .field:last-child {
      margin-bottom: 0.5rem;
    }
    .field-body {
      .field:last-child {
        margin-bottom: 0rem;
      }
    }

    .port-item:not(:last-child) {
      .field {
        margin-bottom: 0;
      }
    }
  }
  .modal-card-foot {
    padding: 1rem 2rem 2rem 2rem;
    .button {
      border-radius: 9999px;
      padding-left: calc(1em + 0.25em);
      padding-right: calc(1em + 0.25em);
    }
  }
}

.delete,
.modal-close {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 20 px;
  max-height: 20px;
  max-width: 20px;
  min-height: 20px;
  min-width: 20px;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 20px;
  &::before {
    width: 80%;
    background-color: black;
  }
  &::after {
    height: 80%;
    background-color: black;
  }
  &:hover {
    background-color: transparent;
  }
}

.account-modal {
  .modal-card-head1 {
    padding: 1.5rem 1.5rem 0.5rem 1.5rem;
  }
  .input {
    background: rgba(255, 255, 255, 0.32);
    border-color: transparent;
  }
}
.terminal-modal {
  .modal-card-body {
    padding: 2rem 2rem 2rem 2rem;
  }
  .close-container {
    position: absolute;
    right: 2rem;
    top: 2rem;
  }
  .tab-content {
    padding: 0;
  }

  // Tabs
  .tabs {
    width: 14rem !important;
    &.is-toggle {
      ul {
        background: rgba(60, 60, 67, 0.05);
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
        border-radius: 6px;

        li {
          flex: none;
          a {
            font-size: 0.875rem;
            padding: 0.2rem 1.5rem;
            min-width: 7rem;
            border-radius: 6px;
            border: none;
            &:hover {
              background-color: transparent;
            }
          }
          &.is-active {
            a {
              background: #ffffff;
              border: 0.5px solid rgba(0, 0, 0, 0.2);
              color: #000;
              z-index: 1;
              box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.2);
            }
          }
        }
      }
    }
  }
}

.logs {
  white-space: pre-wrap;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.6em;
  overflow-y: auto;
  overflow-x: hidden;
  height: 20rem;
}

.xterm {
  height: 20rem;
}

.import-area .textarea {
  max-height: 40em;
  min-height: 173px;
}

.app-card {
  .loading-background {
    background: none !important;
    border-radius: $backDropBorderRadius;
    transform: translate3d(0, 0, 0);
  }
}

.tabs li.is-active a {
  color: #2276f3;
  border-bottom-color: #2276f3;
  &:focus {
    border-bottom-color: #2276f3;
  }
}
.is-size-6-5 {
  font-size: 0.875rem !important;
}

.control {
  .button {
    font-size: 0.875rem;
    height: 2.714em;
  }
}

.filelist {
  height: 19.6875rem;
  overflow-x: hidden;
  overflow-y: auto;
  li {
    border-bottom: #e4e4e4 1px solid;
    line-height: 1.75rem;
    border-radius: 4px;
    transition: background-color 0.2s;
    cursor: pointer;
    &:hover {
      background-color: #e0e0e0;
    }
    &.active {
      background-color: #b6e0ff;
    }
  }
}

.ficon {
  background-size: 1.75rem;
  background-repeat: no-repeat;
  background-position: left center;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  -webkit-touch-callout: none;
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
  &.folder {
    background-image: url(../img/folder.png);
  }
  &.file {
    background-image: url(../img/xfile.png);
  }
}
.breadcrumb {
  a {
    color: #0e9aff;
  }
  ul {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    li {
      white-space: nowrap;
      div {
        max-width: 100%;
        padding: 0 0.5em;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &:first-child {
        a {
          padding-right: 0;
          .icon {
            margin-left: 0;
          }
        }
      }
      &:last-child {
        min-width: 0;
        width: 100%;
      }
      &:nth-child(2) {
        &::before {
          content: "|";
        }
      }
    }
  }
}
.fullScreen {
  z-index: 1000;
  background-color: #1e1e1e !important;
  border-radius: 4px;
  position: relative;
}

.nobrk {
  word-break: normal;
}

.home-section .loading-background {
  background-color: transparent !important;
}

.app-list {
  min-height: 14rem;
  position: relative;
}

.suggestion-list {
  min-height: 7.5rem;
  position: relative;
}
// Login Page

#login-page {
  height: calc(100% - 5.5rem);
  position: relative;
  z-index: 500;
  .login-panel {
    text-align: left;
    background: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(1rem);
    border-radius: 8px;
    padding: 2.5rem 4rem;

    .label {
      color: #dfdfdf;
    }
    .input {
      background: rgba(255, 255, 255, 0.32);
      border-color: transparent;
    }

    &.step1 {
      padding: 4rem 6rem;
    }

    &.step2 {
      padding: 2.5rem 4rem;
      width: 32rem;
    }

    &.step3 {
      padding: 4rem 8rem;
    }

    &.step4 {
      width: 28rem;
    }
  }
}

.install-animation {
  width: 200px;
  height: 200px;
}

.b-line {
  border-bottom: #cfcfcf 1px solid;
}
.list-icon {
  width: 72px;
}
.icon-shadow {
  border-radius: 6px;
  box-sizing: border-box;
}

.two-line {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  word-break: normal;
  -webkit-line-clamp: 2; //行数
  -webkit-box-orient: vertical;
}

.pagination-link.is-current {
  background-color: hsl(216, 90%, 54%);
  border-color: hsl(216, 90%, 54%);
  color: #fff;
}

.b-tabs .tab-content {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  padding: 1rem 0 0 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.25s ease-out;
}
.slide-fade-leave-active {
  transition: all 0.25s ease-out;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  transform: translateY(10px);
  opacity: 0;
}

.img-c {
  .image {
    transition: all 0.3s;
  }
  &:hover {
    .image {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }
}

.dark-bg {
  position: fixed;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 19;
  opacity: 0;
  visibility: hidden;
  &.open {
    opacity: 1;
    visibility: visible;
  }
}

// App Store Panel
.app-sidebar {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 15;
  pointer-events: none;
  &.no-event {
    pointer-events: all;
  }
  &.h-100 {
    height: 100% !important;
  }
  &.w-100 {
    width: 100% !important;
  }
  .sidebar-content {
    position: relative;
    height: 100%;
  }
}

.app-detial {
  overflow: auto;
  height: 100%;
  .app-header {
    position: relative;
  }
  .swiper-container {
    // overflow: hidden;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -20px;
    left: auto;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -20px;
    right: auto;
  }
}
.featured-app {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: -20px;
    top: calc(50% - 2.25rem);
    left: auto;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: -20px;
    top: calc(50% - 2.25rem);
    right: auto;
  }
  .button {
    box-sizing: border-box !important;
  }
}
.app-select {
  .dropdown-menu {
    min-width: 1rem !important;
  }
  a.dropdown-item {
    padding-right: 1.5rem;
    font-size: 0.875rem;
  }
}
a.dropdown-item.is-active,
.dropdown .dropdown-menu .has-link a.is-active,
button.dropdown-item.is-active {
  background-color: $primary;
  color: #fff;
}
.button {
  -webkit-tap-highlight-color: transparent;
}

// Sync Panel
.sync-panel {
  .modal-card {
    width: 50rem;
  }
  .steps {
    .column {
      padding: 1.5rem 0;
    }
  }
  .dot {
    padding-left: 2.5rem;
    position: relative;
    color: #383b46;
    opacity: 0.5;
    font-weight: bold;
    transition: all 0.3s;
    &:before {
      display: flex;
      content: attr(data-title);
      position: absolute;
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      background-color: #2276f3;
      transition: all 0.3s;
      align-items: center;
      justify-content: center;
      color: #fff;
      left: 0;
      top: -0.25rem;
      z-index: 1;
      box-shadow: 0px 0px 0.875rem rgba(34, 118, 243, 0.75);
    }

    &.active {
      color: #2276f3;
      opacity: 1;
    }
  }
  .ok-dot {
    &:before {
      font: normal normal normal 24px/1 "Material Design Icons" !important;
      content: "\F012C" !important;
    }
  }
  .modal-card-body {
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 1rem;
  }
}

.t-box {
  background: #eeeeee;
  border-radius: 4px;
  height: 20rem;
  padding: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  font-size: 0.875rem;
  line-height: 1.6em;
  ol {
    padding-left: 1rem;
  }
  .t-img {
    margin-bottom: 1rem;
    img {
      max-width: 60%;
      width: auto;
    }
  }
  .t-img-1 img {
    max-width: 5rem;
  }
  .t-img-2 img {
    max-width: 13rem;
  }
  .t-img-3 img {
    max-width: 18rem;
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.spinner {
  animation: load8 1.1s infinite linear;
}

// File Modals
@media screen and (min-width: 769px) {
  .fileModal,
  .account-modal {
    .modal-card {
      width: 30rem;
    }
  }

  .terminal-modal {
    .modal-card {
      width: 50rem;
    }
  }
  .app-panel {
    .animation-content {
      max-width: 90% !important;
    }
    .modal-card {
      width: 90vw;
      transition: all 0.3s;
      &.narrow {
        width: 50rem !important;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .f-list {
    .is-one-quarter {
      width: 33.333333% !important;
    }
  }
}

@media screen and (min-width: 1440px) {
  .app-panel {
    .modal-card {
      width: 83rem !important;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0 1rem;
  }
  .f-list {
    .is-one-quarter {
      width: 50% !important;
    }
  }
}
@media screen and (min-width: 481px) {
  #sidebar-btn {
    display: none !important;
  }
}
@media screen and (max-width: 768px) {
  .main-content {
    .app-list {
      display: flex;
      .column {
        flex: none;
        width: 50%;
      }
    }
  }

  .f-list {
    .is-one-quarter {
      width: 50% !important;
    }
  }

  .sync-panel {
    .modal-card {
      width: auto !important;
    }
  }
}

@media screen and (max-width: 480px) {
  #sidebar-btn {
    display: flex !important;
  }

  .login-panel {
    text-align: left;
    background: rgba(255, 255, 255, 0.46);
    backdrop-filter: blur(1rem);
    border-radius: 8px;
    margin: 0 2rem;
    padding: 2rem !important;
    .label {
      color: #dfdfdf;
    }
    .input {
      background: rgba(255, 255, 255, 0.32);
      border-color: transparent;
    }
    .is-128x128 {
      height: 96px;
      width: 96px;
    }
    .is-3 {
      font-size: 1.5rem;
    }
    &.step1 {
      .is-2 {
        font-size: 1.5rem;
      }
      .subtitle {
        font-size: 1rem;
      }
    }
    &.step3 {
      padding: 4rem !important;
    }
  }

  .brand-bar {
    bottom: 3rem;
    font-size: 0.875rem;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    .image.is-32x32 {
      height: 24px;
      width: 24px;
    }
    .is-size-4 {
      font-size: 1.25rem !important;
    }
  }

  .contact-bar {
    right: 0;
    bottom: 0rem;
    background-color: transparent;
    backdrop-filter: none;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .side-bar {
    transition: all 0.3s ease-out;
    left: 0rem;
    transform: translateX(-100vw);
    z-index: 20;
    width: auto;
    margin: 0 1rem !important;
    &.open {
      transform: translateX(0);
    }
  }

  .main-content {
    margin-left: 0;

    .app-list {
      display: flex;
      .column {
        flex: none;
        width: 50%;
      }
    }
  }
  .t-img {
    img {
      max-width: 100% !important;
      width: auto;
    }
  }
  .sync-panel {
    .steps {
      .column {
        padding: 1.5rem 0;
      }
    }
    .dot {
      padding-left: 2.5rem;
      position: relative;
      color: #383b46;
      opacity: 0.5;
      font-weight: bold;
      transition: all 0.3s;
      &:before {
        display: flex;
        content: attr(data-title);
        position: absolute;
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        background-color: #2276f3;
        transition: all 0.3s;
        align-items: center;
        justify-content: center;
        color: #fff;
        left: 0;
        top: -0.25rem;
        z-index: 1;
        box-shadow: 0px 0px 0.875rem rgba(34, 118, 243, 0.75);
      }

      &.active {
        color: #2276f3;
        opacity: 1;
      }
    }
    .ok-dot {
      &:before {
        font: normal normal normal 24px/1 "Material Design Icons" !important;
        content: "\F012C" !important;
      }
    }
    .modal-card-body {
      overflow-x: hidden;
      overflow-y: auto;
      padding-bottom: 1rem;
      .image.is-176x176 {
        height: 128px;
        width: 128px;
      }
      .is-offset-2 {
        margin-left: 0 !important;
      }
      .is-8 {
        width: 100% !important;
      }
      .button.is-dark {
        font-size: 0.75rem !important;
      }
    }
  }

  .f-list {
    .is-one-quarter {
      width: 100% !important;
    }
  }

  .app-detial {
    overflow: auto;
    height: 100%;
    .modal-card-head {
      .button {
        -webkit-tap-highlight-color: transparent;
      }
    }
    .app-header {
      position: relative;
      .header-icon {
        .is-128x128 {
          height: 96px;
          width: 96px;
        }
      }
      .store-title {
        font-size: 1.125rem;
      }
      .subtitle {
        font-size: 0.75rem;
        margin-bottom: 0.75rem;
      }
      .description {
        .button {
          font-size: 0.75rem;
        }
      }
    }
    .level {
      .mdi-36px.mdi-set,
      .mdi-36px.mdi:before {
        font-size: 24px;
      }
      .title {
        font-size: 24px;
      }
      .footing {
        font-size: 0.6rem !important;
      }
    }
  }
}

.slide-next-leave-active,
.slide-next-enter-active,
.slide-prev-enter-active,
.slide-prev-leave-active {
  // transition-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-duration: 0.35s;
}
