.home-section {
	.loading-background {
		background-color: transparent !important;
	}
	
	.column {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
	}
}


.suggestion-list {
	min-height: 7.5rem;
	position: relative;
}