.is-size-20px {
	font-size: 1.25rem !important;
	line-height: 1.25rem;
}

.is-size-16px {
	font-size: 1rem !important;
	line-height: 1rem;
}

.is-size-14px {
	font-size: 0.875rem !important;
	line-height: 0.875rem;
}

.is-size-12px {
	font-size: 0.75rem !important;
	line-height: 0.75rem;
}


.is-size-7 {
	word-break: keep-all;
}

.is-14x14 {
	width: 14px;
	height: 14px;
}

.is-16x16 {
	width: 16px;
	height: 16px;
}

.is-20x20 {
	width: 20px;
	height: 20px;
}

.is-24x24 {
	width: 24px;
	height: 24px;
}

.is-32x32 {
	width: 32px;
	height: 32px;
}

.is-64x64 {
	width: 64px;
	height: 64px;
}

// Size
.casa-28px {
	font-size: 28px !important;
}

.casa-24px {
	font-size: 24px !important;
}

.casa-22px {
	font-size: 22px !important;
}

.casa-20px {
	font-size: 20px !important;
}

.casa-19px {
	font-size: 19px !important;
}

.casa-16px {
	font-size: 16px !important;
}

.casa-14px {
	font-size: 12px !important;
}

.casa-10px {
	font-size: 10px !important;
}

// Color
.casa-color-blue {
	color: #3388FF !important;
}

.casa-color-green {
	color: #28CC87 !important;
}

.casa-color-gray {
	color: #999999 !important;
}


// Shape

.casa-shape-rounded {
	background-color: #fff;
	border-radius: 50%;
}

.casa-shape-12px {
	width: 12px !important;
	height: 12px !important;
}


.casa-shape-16px {
	width: 16px !important;
	height: 16px !important;
}

.casa-shape-32px {
	width: 32px !important;
	height: 32px !important;
}