.multipane {
  &.layout-v {
    width: 100%;

    .multipane-resizer {
      z-index: 11;
      flex-shrink: 0;

      &::after {
        content: '';
        width: 1px;
        height: 100%;
        position: absolute;
        left: 5px;
        background-color: #5a5a5a;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover {
        &::after {
          opacity: 1;
        }
      }
    }
  }
}

.h-44 {
  height: 2.75rem;
}

.pl-40 {
  padding-left: 2.5rem;
}

.pt-40 {
  padding-top: 2.5rem;
}

.pb-40 {
  padding-bottom: 2.5rem;
}

.pr-40 {
  padding-right: 2.5rem;
}

.pt-20 {
  padding-top: 1.25rem;
}

.pb-20 {
  padding-bottom: 1.25rem;
}

.p-20 {
  padding: 1.25rem;
}

.p-30-20 {
  padding: 1.875rem 1.25rem;
}

.p-40-20 {
  padding: 2.5rem 1.25rem;
}

.p-20-40 {
  padding: 1.25rem 2.5rem;
}

.p-40-10 {
  padding: 0.625rem 2.5rem;
}



.acquaintance-share {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;

  .title {
    font-size: 1.125rem;
  }

  .subtitle {
    font-size: 0.875rem;
    margin-top: 0.2rem !important;

  }

  .a-side-bar {
    max-width: 30rem;
    min-width: 15rem;
    width: 20rem;
    position: relative;
    z-index: 10;

    .header {
      //   border-right: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      background-color: $white;
      position: relative;
      z-index: 2;
    }

    .a-user-container {
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
      height: calc(100vh - 5.25rem);
      position: relative;

      ul.user-list {
        overflow-x: hidden;
        overflow-y: overlay;

        .user-list-item {
          cursor: pointer;
          transition: background 0.3s;

          .title {
            font-size: 1rem;
            margin-bottom: 0.2rem;
          }

          &:hover {
            background-color: $primary-light;
          }

          &.active {
            background-color: $primary;

            .title,
            .subtitle {
              color: #ffffff !important;
            }
          }
        }
      }

      .list-bottom {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        font-size: 0.875rem;

        .download-list-btn {
          padding: 0.5rem 0 0.5rem 0.5rem;
          margin: 0 -0.5rem;
        }
      }
    }
  }


  .a-main-content {
    background-color: rgb(248, 248, 248);



    .header {
      background-color: $white;
      border-left: 1px solid rgba(0, 0, 0, 0.15);
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);

      .notify-btn {
        padding: 0.25rem;
        position: relative;

        .badge {
          position: absolute;
          width: 1rem;
          height: 1rem;
          top: 0;
          right: 0;
          border-radius: 0.5rem;
          font-size: 0.75rem;
          text-align: center;
          line-height: 1.2rem;
          color: $white;
          transition: background 0.3s;

          &.danger {
            background-color: $danger;
          }
        }
      }
    }
  }

  // View Gird
  .node-card-container .outer-wrapper:hover .node-card {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }

  // Tables
  .table-thead {
    .tr-wrapper {
      padding: 0 2rem;

      .tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

    }
  }

  .tbody {
    .tr-wrapper {
      padding: 0 2rem;

      .tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        border-top: none;

        &:hover {
          background-color: $primary-light;
        }
      }
    }
  }

  .breadcrumb {
    margin-bottom: 0;

    ul {
      margin-top: 0;
      margin-left: 0;
      flex-wrap: nowrap;

      li {
        margin-top: 0;
        flex-shrink: 0;
        font-weight: normal;
        padding: 0 0.25rem 0 0;

        a {
          color: rgb(90, 90, 90);
          padding-right: 0.5em;
          padding-left: 0.5em;
          margin-left: 0.25em;
          transition: color 0.2s, background-color 0.2s;

          &:hover {
            color: $primary;
            border-radius: 4px;
            background-color: $primary-light;
          }
        }

        &:first-child {
          padding-right: 0.25em;
          padding-left: 0;
        }

        &+li::before {
          color: #b5b5b5;
          content: ">";
        }

        &:last-child {
          overflow: hidden;
          flex-shrink: 1;

          a {
            font-weight: bolder;
            display: block;
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }

        .icon {
          margin: 0 !important;
        }
      }
    }

    &.is-medium {
      font-size: 1rem;
      font-weight: bold;
    }

    &.shadow {
      visibility: hidden;
      position: absolute;
      z-index: 0;


      ul {
        li {
          &:last-child {
            overflow: auto;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}



.download-cover {
  font-size: 0.875rem;

  img {
    width: 1.5rem;
    height: auto;
    margin: 0 0.2rem 0 0.2rem;
  }
}

.grey-hover-btn {
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;

  &:hover {
    background-color: $white-ter !important;
  }
}

.primary-light-hover-btn {
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;

  &:hover {
    background-color: $primary-light !important;
  }

  &.is-primary {
    .d-badge {
      background-color: $primary-dark !important;
    }

    &:hover {
      background-color: $primary !important;
    }
  }
}

.float-sidebar {
  height: 100%;

  .info {
    font-size: 0.75rem;
    color: #5a5a5a !important;
  }

  .notification-container {
    overflow-x: hidden;
    overflow-y: overlay;

    .notification-list {
      background: #f8f8f8;
      margin: 1.25rem 0;
      padding: 0.625rem 1rem;
      border-radius: 0.5rem;
      transition: background 0.3s;

      .time {
        color: #a3a3a3;
      }

      &:hover {
        background-color: $primary-light;
      }

      .body {
        font-size: 0.875rem;
      }
    }
  }
}

.is-flex-none {
  flex: none;
}

.calc-height {
  height: calc(100vh - 5.25rem);
}

.download-tab-button {
  font-size: 0.875rem !important;

  .mdi::before {
    font-size: 18px;
  }
}

.download-action-button {
  font-size: 0.75rem !important;

  .mdi::before {
    font-size: 14px;
  }
}

.download-scroll-container {

  overflow-x: hidden;
  overflow-y: overlay;
}

.download-area {
  .tr {
    cursor: auto !important;
  }

  .td,
  .th {
    &:nth-child(2) {
      width: 80px !important;
    }

    &:last-child {
      width: 16rem !important;
    }

    .progress-wrapper {
      width: 12rem;
    }

    &.action-td {
      width: 3rem !important;
    }

    .progress.is-small,
    .is-small.progress-wrapper.is-not-native {

      height: 0.25rem;
    }

    .status-text {
      font-size: 0.875rem;
    }

    .action-icon {
      display: flex;
      cursor: pointer;
      justify-content: center;
      align-items: center;
      font-size: 1rem !important;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;

      background-color: transparent;
      -webkit-transition: background-color 0.3s ease;
      -o-transition: background-color 0.3s ease;
      transition: background-color 0.3s ease;
      color: $grey;
      margin: 0 0.2rem;

      &:hover {
        background-color: $grey-lighter;
      }
    }
  }
}



.d-badge {
  font-size: 0.75rem;
  padding: 0 0.5rem;
  border-radius: 6px;
  background-color: #e9e9e9;
}

.is-xxs {
  height: 1.25rem !important;
  font-size: 0.75rem !important;
  line-height: 1em !important;
  padding: 0 0.5rem !important;
}

.init-modal {
  .modal-card-body {
    overflow-y: hidden;
  }

  .step-marker {
    .mdi {
      height: 1.5rem;
    }
  }

  .step-title {
    font-weight: 500 !important;
  }
}


.folder-container {
  border: 1px solid #cfcfcf !important;
  border-radius: 4px;
  max-height: 10.125rem;
  min-height: 2.625rem;
  overflow-x: hidden;
  overflow-y: overlay;

  .folder-item {
    display: flex;
    align-items: center;
    line-height: 1.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.8rem;
    font-size: 0.875rem;
    color: $black;
    transition: all 0.3s;

    .action {
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
    }

    &:hover {
      background-color: $primary-light;

      .action {
        opacity: 1;
        visibility: visible;
      }
    }

    .cover {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }

    .one-line {
      line-height: 1.5rem;
    }
  }
}