/************************************
*
* Syncthing
*
*************************************/

.sync-panel {
    .modal-card {
        width: 50rem;
    }

    .steps {
        .column {
            padding: 1.5rem 0;
        }
    }

    .dot {
        padding-left: 2.5rem;
        position: relative;
        color: #383b46;
        opacity: 0.5;
        font-weight: bold;
        transition: all 0.3s;

        &:before {
            display: flex;
            content: attr(data-title);
            position: absolute;
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 50%;
            background-color: #2276f3;
            transition: all 0.3s;
            align-items: center;
            justify-content: center;
            color: #fff;
            left: 0;
            top: -0.25rem;
            z-index: 1;
            box-shadow: 0px 0px 0.875rem rgba(34, 118, 243, 0.75);
        }

        &.active {
            color: #2276f3;
            opacity: 1;
        }
    }

    .ok-dot {
        &:before {
            font: normal normal normal 24px/1 "Material Design Icons" !important;
            content: "\F012C" !important;
        }
    }

    .modal-card-body {
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 1rem;
    }
}