/************************************
*
* Upgrade Modal
*
*************************************/

.update-info-container {
    font-size: 14px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        margin-bottom: 0.4rem;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.17em;
    }

    h4 {
        font-size: 1em;
    }

    h5 {
        font-size: 0.83em;
    }

    h6 {
        font-size: 0.67em;
    }

    ul {
        margin-bottom: 0.5em;

        li {
            list-style: disc;
            margin-left: 1rem;
        }
    }


}