/************************************
*
* Buttons
*
*************************************/

.button {
  -webkit-tap-highlight-color: transparent;
}

.c-button {
  border-radius: 4px;

  &:hover {
    background-color: #cfcfcf;
  }
}

.button.is-grey {
  background-color: #a6afb9;
  border-color: transparent;
  color: whitesmoke;
}

.button.is-light {
  background-color: #a6afb9;
  color: white;
}

.button.is-iina {
  background-color: #0088cc;
  color: white;

  &:hover {
    background: findDarkColor(#0088cc);
  }
}

.button.is-potplayer {
  background-color: #ecc94b;
  color: $black;

  &:hover {
    background: findDarkColor(#ecc94b);
    color: $white;
  }
}

.button.is-vlc {
  background-color: #dd6b20;
  color: $white;

  &:hover {
    background: findDarkColor(#dd6b20);
    color: $white;
  }
}

.button.is-ghost {
  color: $ghost;
}

.button.is-text {
  color: #000;
  text-decoration: none;
  background: transparent;

  &:hover {
    background: transparent;
  }
}

.add-button {
  color: #0e9aff;
  margin: 0 0.25rem;
}

.top-button {
  margin-left: 0.5em;
}

.fullscreen-button {
  position: absolute;
  z-index: 100;
  right: 0.75rem;
  top: 0.75rem;
}

// Icon Button

.icon-button {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 1.875rem;
  max-height: 1.875rem;
  max-width: 1.875rem;
  min-height: 1.875rem;
  min-width: 1.875rem;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 1.875rem;
  padding: 0;
  transition: all 0.2s;
  margin: 0 0.25rem;

  &:before {
    transition: all 0.2s;
    position: relative;
    font-size: 1.25rem !important;
  }

  &:hover {
    background-color: #363636;

    &:before {
      color: #fff;
    }
  }
}

.icon-button-new {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  pointer-events: auto;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 0;
  height: 1.5rem;
  max-height: 1.5rem;
  max-width: 1.5rem;
  min-height: 1.5rem;
  min-width: 1.5rem;
  outline: none;
  position: relative;
  vertical-align: top;
  width: 1.5rem;
  padding: 0;
  transition: all 0.2s;
  margin: 0 0.25rem;

  &:before {
    transition: all 0.2s;
    position: relative;
    font-size: 1.25rem;
    color: #fff;
  }

  &:hover {
    &:before {
      color: #fff;
    }
  }
}

.half-padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}