/************************************
*
* Icons
*
*************************************/

.icon {
    overflow: hidden;

    &.is-20 {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.delete,
.modal-close {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 9999px;
    cursor: pointer;
    pointer-events: auto;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    height: 20 px;
    max-height: 20px;
    max-width: 20px;
    min-height: 20px;
    min-width: 20px;
    outline: none;
    position: relative;
    vertical-align: top;
    width: 20px;

    &::before {
        width: 80%;
        background-color: black;
    }

    &::after {
        height: 80%;
        background-color: black;
    }

    &:hover,
    &:active {
        background-color: transparent;
    }
}

.list-icon {
    width: 72px;
}

.icon-shadow {
    background: linear-gradient(180deg, #F7FAFC 0%, #F0F2F5 100%);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    box-sizing: border-box;
    overflow: hidden;
}