/************************************
*
* Images
*
*************************************/

.image {
  &.is-40x40 {
    height: 40px;
    width: 40px;

    img {
      height: 40px;
      width: 40px !important;
      max-height: 40px !important;
    }
  }

  &.is-54x54 {
    height: 54px;
    width: 54px;
  }

  &.is-68x68 {
    height: 68px;
    width: 68px;
  }

  &.is-72x72 {
    height: 72px;
    width: 72px;
  }

  &.is-80x80 {
    height: 80px;
    width: 80px;
  }

  &.is-160x160 {
    height: 160px;
    width: 160px;
  }

  &.is-176x176 {
    height: 176px;
    width: 176px;
  }

}

.img-c {
  .image {
    transition: all 0.3s;
  }

  &:hover {
    .image {
      transform: scale3d(1.1, 1.1, 1.1);
    }
  }
}