.is-size-16px {
    font-size: 1rem !important;
}

.is-size-14px {
    font-size: 0.875rem !important;
}

.is-size-12px {
    font-size: 0.75rem !important;
}


.is-size-7 {
    word-break: keep-all;
}