// Padding
.p-55 {
	padding: 2rem !important;
}

.pt-55 {
	padding-top: 2rem !important;
}

.pl-55 {
	padding-left: 1.75rem;
}

.pl-7 {
	padding-left: 4.75rem;
}

.pt-7 {
	padding-top: 4rem;
}

// Margin
.mt-55 {
	margin-top: 2.5rem !important;
}

.mt-2rem {
	margin-top: 2rem !important;
}

.mb-2rem {
	margin-bottom: 2rem !important;
}

.ml-7 {
	margin-left: 5rem;
}

.mr-7 {
	margin-right: 5rem;
}